.header__main {
  grid-area: header;
}
.header__nav {
  width: 100%;
  height: 65%;
  margin-bottom: 0;
}
.header__nav-img {
  display: flex;
  background-image: linear-gradient(180deg, #000000d3, #75757917),
    url("https://cdn.pixabay.com/photo/2020/08/04/18/43/cyber-monday-5463567_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.header__nav-menu {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: transparent;
}
.header__nav-menu__md {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-menu__md-link {
  text-decoration: none;
  color: #fff;
}
.header__main-center {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80%;
  width: 60%;

  h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
  }

  input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 17px;
    padding: 20px;
    border: none;
    &::placeholder {
      color: $back;
    }
    &:focus {
      outline: none;
    }
  }
}
.btn__carts {
  padding: 5px;
  border-radius: 6px;
  background-color: #fff;
  color: $dark;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.header__main-section {
  width: 100%;
  height: 35%;
}
.header__main-section-container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.article__section {
  width: 165px;
  height: 86px;
  background-color: #2f80ed;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($color: #2f80ed, $amount: 20);
  }
}
.figure__article {
  display: flex;
  color: #fff;
  width: 80%;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
