.main {
  width: 100%;
  height: 100%;
  grid-area: main;
  background-color: #2c394b;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
  align-content: center;
}
.card__main {
  width: 220px;
  height: 325px;
  background-color: #334756;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.card__main-img {
  width: 90%;
  height: 40%;
  background-color: #fff;
  margin: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
  }
}

.card__main-description {
  width: 80%;
  height: 20%;
  font-weight: 200;
  text-align: left;
  margin-top: 10px;
}
.card__prices {
  display: inline-block;
  height: 30px;
  font-weight: bold;
}
.card__main-rating {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  button {
    border: none;
    cursor: pointer;
    background-color: darken($color: #fff, $amount: 20);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
@media screen and (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {
}
