.main-container {
  background-color: $back;
  width: 100vw;
  height: 100vh;
}

.start__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: $back;
}
.start__main-container-img {
  margin-top: 20px;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
  img {
    max-width: 90%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

.start__main-paragraph {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    width: 80%;
    text-align: center;
    color: #ffffff;
  }

  p {
    width: 60%;
    text-align: center;
  }
}
.start__main-buttons {
  margin-bottom: 85px;
  display: flex;
  justify-content: space-around;
}
.start__main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 130px;
  height: 60px;
  font-family: "Poppins", sans-serif;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.btn-register {
  background-color: #ffffff;
  color: $back;
}
.btn-login {
  background-color: $button;
  color: #ffffff;
}
@media screen and (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) {
  .main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .start__main-container-img {
    padding-right: 20px;
  }
  .start__main-buttons {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
